/*
  Site container
*/

.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: $navbar-backgound;
  // Do not render box shadow in black navigation bar.
  // box-shadow: 0 5px 6px -6px #bbb;
  vertical-align: middle;
  position: fixed;
  z-index: 999;
}
.container-nav {
  width: $container-nav-width;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
.container a {
  text-decoration: none;
  color: $general-link-color;
}
.container a:hover {
  text-decoration: underline;
}
.posts-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}
.posts-wrapper h1 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .posts-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
