.site-header {
  min-height: $header-thickness;
  width: $container-width;
}
@media (max-width: $container-width) {
  .site-header {
    min-height: $header-thickness;
    width: $container-width;
    background: $navbar-backgound;
    color: $navbar-textcolor;
    position: fixed;
  }
}
.site-header a {
  text-decoration: none;
  color: $navbar-textcolor;
  font-size: 13px;
  font-weight: 400;
}
.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: $header-thickness;
  color: $navbar-textcolor;
  margin-bottom: 0;
  margin-top: 0;
  float: left;
}
.site-title a {
  -webkit-transition: $transition-time;
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  transition: $transition-time;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding-left: 10px;
}
.menu-list {
  line-height: $header-thickness;
  float: right;
}
.menu-link {
  padding: 0px 14px;
  display: inline-block;
}
nav a {
  -webkit-transition: $transition-time;
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  transition: $transition-time;
}
nav a:hover {
  color: white;
}
.site-title a:hover {
  color: white;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
    background: $navbar-backgound;
    color: $navbar-textcolor;
    padding: 14px;
    margin-top: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $navbar-backgound;
    color: $navbar-textcolor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    color: $navbar-textcolor;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background: $navbar-backgound;
    color: white
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background: $navbar-backgound;
    color: white;
  }
}
