$icon-transition-time: $transition-time;
$envelope-color: #f39c12;
$coffee-color: #8b4513;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$github-alt-color: #ababab;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$map-o-color: #ff1493;
$medium-color: #00ab6c;
$codepen-color: black;
$rss-color: #ff6600;

@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}
.fa-coffee {
  @include social-media-icon($coffee-color, $icon-transition-time);
}
.fa-envelope {
  @include social-media-icon($envelope-color, $icon-transition-time);
}
.fa-envelope-o {
  @include social-media-icon($envelope-color, $icon-transition-time);
}
.fa-twitter {
  @include social-media-icon($twitter-color, $icon-transition-time);
}
.fa-instagram {
  @include social-media-icon($instagram-color, $icon-transition-time);
}
.fa-camera {
  @include social-media-icon($instagram-color, $icon-transition-time);
}
.fa-github {
  @include social-media-icon($github-color, $icon-transition-time);
}
.fa-github-alt {
  @include social-media-icon($github-alt-color, $icon-transition-time);
}
.fa-linkedin {
  @include social-media-icon($linkedin-color, $icon-transition-time);
}
.fa-facebook {
  @include social-media-icon($facebook-color, $icon-transition-time);
}
.fa-google-plus {
  @include social-media-icon($google-color, $icon-transition-time);
}
.fa-pinterest {
  @include social-media-icon($pinterest-color, $icon-transition-time);
}
.fa-map-o {
  @include social-media-icon($map-o-color, $icon-transition-time);
}
.fa-medium {
  @include social-media-icon($medium-color, $icon-transition-time);
}
.fa-codepen {
  @include social-media-icon($codepen-color, $icon-transition-time);
}
.fa-rss-square {
  @include social-media-icon($rss-color, $icon-transition-time);
}
